.container {
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
}
.product {
  display: flex;
  border: 2px solid yellow;
  width: 70%;
}
.price {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 30%;
  align-items: center;
}
.totalPrice {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  width: 90%;
  align-items: center;
  height: 40%;
  margin: 20px;
  justify-content: space-around;
}
.configuration {
  display: flex;
  flex-direction: column;
  border: 2px solid purple;
  height: 40%;
  width: 90%;
}
