.productList-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.productList-container h2 {
  margin: 0;
}

.productList {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.productList li {
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(25%);
  border: 1px solid rgb(118, 40, 190);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.info {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 5px;
}
.info img {
  width: 25px;
  height: 25px;
}
.productList li button {
  background-color: rgb(118, 40, 190);
}
.productList li button:hover {
  background-color: rgb(131, 114, 146);
}

/* 
.PopUp {
  display: flex;
  align-items: center;
  justify-content: center;
} */
